.jumbotron{
  font-family: 'Anton', sans-serif;    
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #b3d7ff;
  border-radius: .3rem;
}
.jumbotron .titlang{color: #d13a34}
.mt-table{margin-top: 30px;}
.ml-search{margin-top: 10px;}
.w-ip-search{width: 687px}
.bl_footer{background-color: #b3d7ff}
.w100{width: 96%}
.w100-reset{width: 351px;}
.w86{width: 97%}
